// app global css in SCSS form
.dialog-header {
  font-size: x-large;
}
.dialog-body {
  font-style: italic;
  padding: 0 1em 0 1em;
}
.optional-form-action {
  color: gray
}

//.body--light {
  /* ... */
//}

//.body--dark {
  /* ... */
//}
