node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.dockerignore
Dockerfile
Dockerfile*.*
README.md

.git
.gitignore

.project
.cache*
.metadata
.worksheet

*.log
*.log*
*~*
*.bak
*.tmp
*.temp


_old

/.vscode

out/
tmp/
temp/

.env
.envrc
local.properties

test
